body {
    background-image: url("img/shattered-island.gif");
    font-family: 'Exo 2', regular;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -180px;
    margin-left: -270px;
    height: 360px;
    width: 540px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    font-size: 32px;
    color: white;
    border: 5px solid rgba(0, 0, 0, 0.8);
}

.form {
    width: 75%;
    margin: 32px auto;
}

.fields {
    margin-top: 24px;
    width: 100%;
}

.controls {
    height: 32px;
}

.controls input[type=text], .controls input[type=password], .controls input[type=submit] {
    box-sizing: border-box;   
    width: 100%;
    height: 100%;
    border-radius: 5px;
    font-size: 20px;
    border: 2px solid black;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.1);
}

.checkbox {
    font-size: 24px;
    margin-top: 24px;
    width: 100%;
}

.button {
    background-color: rgb(255, 255, 255);
    font-weight: 700;
    color: white;
}